body {
    font-family: 'Nunito', sans-serif;
    background-color: #181818;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
    width: 80%;
}

header h2 {
    color: #bbbbbb;
    font-size: 35px;
}

h1, h2, h3, h4, h5, h6, b {
    color: #bbbbbb;
}

p {
    display: inline;
    color: #bbbbbb;
}

.handleblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.block {
    margin-top: 20px;
}

.recent {
    height: 100%;
}

#display_block {
    display: none;
}

.accepted {
    color: green;
}

.failed {
    color: red;
}

.notattempted {
    color: #bbbbbb;
}

.accepted, .failed, .notattempted {
    font-size: 10px;
}

tr {
    height: 10px;
}

.recommend {
    font-size: 20px;
}

#alert_message {
    display: none;
    color: red;
}

.card {
    background-color: #292929;
    margin-bottom: 20px;
}

.card.recommendations {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #292929;
}

h2.codeforces {
    margin-top: 8px !important;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.form-control {
    margin-right: 10px;
}

span.badge {
    font-size: 1rem;
}

a {
    color: #3483eb;
}

a:hover {
    color: #bbbbbb;
    text-decoration: none;
}

input.submit {
    background-color: #3483eb;
    margin: 0;
}

input {
    background-color: #bbbbbb;
    margin: 0;
}

#tags {
    width: 100%;
    height: 100%;
}

div.container.block, div.container.recent {
    padding-left: 0;
    padding-right: 0;
}

h3.text-center {
    margin-bottom: 10px;
}

u {
    text-decoration: none;
}

#nocontests {
    display: none;
}
